* {
  margin: 0; padding: 0;
  border: 0; outline: 0;
  font-family:'Segoe UI','Open Sans', 'Helvetica Neue';
  list-style: none;
  text-decoration: none;
}

.menu {
  box-shadow: 0 4px 12px rgba(128, 115, 115, 0.1);
  background-color: #00B2B2;
  max-width: 100%;
}


.menu ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFf;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.menu ul li ul {
  display: none;
}
.menu ul li:hover {
  cursor: pointer;
  background-color: #005959;
}
.menu ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.menu ul li:hover ul li {
  display: block;
  background-color: #008989;
}

.menu ul li:hover ul li:hover {
  background-color: #022c2c;
}

.logC{
  position: fixed;
  left: 48%;
  right: 44.84%;
  top: 0.50%;
  bottom: 97.63%;
  width: 60px;
}